.header {
  display: flex;
  flex-direction: column;
}
.nav-bar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-family: Bree Serif;
}
.l {
  list-style-type: none;
}
.h {
  display: flex;
}
.home-jobs {
  margin-left: 20px;
  margin-right: 20px;
}
.logout {
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 15vh;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: white;
}
